.menu-item {
  cursor: pointer;
}

/* ===============Burger button styling==================== */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 20px;
  height: 15px;
  left: 15px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #777;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  box-shadow: 5px 0px 5px 0 rgba(0, 0, 0, 0.16);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #666;
  font-weight: 300;
  margin-bottom: 7px;
  text-decoration: none;
  padding: 4px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
