.inventory_item_container {
  border-top: 1px solid #777;
}

.inventory_details {
  background: #fff;
  width: 100%;
  position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
}

.inventory_details_back_button {
  margin: 10px auto;
  background: #57c1e8;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  position: absolute;
  padding: 10px 20px;
  border: none;
  right: 15px;
}

.inventory_details_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px 30px;
}

.inventory_details_container {
  margin-top: 50px;
}

.inventory_details_img {
  width: 100%;
  max-width: 400px;
}

.inventory_details_desc_container {
  padding: 20px 20px 0;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
}

.inventory_details_name {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 500;
}

.inventory_details_desc {
  font-size: 1em;
  margin-bottom: 20px;
}

.inventory_details_price {
  color: #569210;
  font-size: 48px;
}

@media only screen and (max-width: 960px) {
  .inventory_details_desc_container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
