.cart_contents_container {
  padding-top: 30px;
}

.cart_contents_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px 30px;
}

.cart_quantity_label {
  display: inline-block;
  font-size: 18px;
  padding: 20px 60px;
  background-color: #fff;
  color: #484c55;
}

.cart_desc_label {
  font-size: 18px;
  color: #484c55;
  display: inline-block;
}

.cart_footer {
  position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
  border-top: 2px solid #ededef;
  padding: 20px 0;
  margin-bottom: 30px;
}
