.checkout_summary_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px 30px;
}

.summary_info_label {
  border-top: 2px solid #efefef;
  padding: 20px 0 0;
}

.summary_value_label {
  font-weight: 800;
  padding: 5px 0 20px 0;
}

.summary_subtotal_label {
  border-top: 2px solid #efefef;
  padding: 20px 0 10px;
}

.summary_tax_label {
  padding: 0;
}

.summary_total_label {
  padding: 10px 0;
  font-weight: 800;
  margin: 0 0 8px 0;
}

.summary_info_label,
.summary_value_label,
.summary_subtotal_label,
.summary_tax_label,
.summary_total_label {
  font-size: 16px;
  margin-left: 50px;
}

@media only screen and (min-width: 900px) {
  .summary_info_label,
  .summary_value_label,
  .summary_subtotal_label,
  .summary_tax_label,
  .summary_total_label {
    margin-left: 80px;
  }

  .summary_info_label {
    padding: 40px 0 0;
  }

  .summary_value_label {
    padding: 5px 0 40px 0;
  }

  .summary_subtotal_label {
    padding: 40px 0 10px;
  }
}
