.checkout_info_container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}

.checkout_info_wrapper {
  padding: 0 15px;
}

.checkout_info {
  max-width: 380px;
  margin: 0 auto;
  padding-top: 30px;
}

.checkout_buttons {
  margin-top: 5px;
  border-top: 2px solid #ededef;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.checkout_buttons .btn {
  width: 220px;
}

@media only screen and (max-width: 900px) {
  .checkout_buttons {
    display: block;
    justify-content: inherit;
  }

  .checkout_buttons .btn {
    margin-bottom: 15px;
  }
}
