.login-button {
	margin: 20px auto;
	background: #61affe;
	font-size: 18px;
	font-weight: 800;
	width: 100%;
	max-width: 400px;
	padding: 10px;
	text-align: center;
	font-family: Open Sans,sans-serif;
	color: #fff;
}

.login-input {
	margin: 20px 10px;
	font-size: 14px;
	width: 100%;
	max-width: 380px;
	border: 0px;
	border-bottom: 1px solid #777;
}

.login-box {
	background: #fff;
	margin: 10% auto;
	padding: 40px;
	max-width: 400px;
}

.login-info-box {
	font-size: 14px;
	margin: 10px auto;
	padding: 20px;
	max-width: 600px;
	background: #fff;
	border: 4px dashed #000;
}

.main-body {
	background: #fff;
	margin: 0px;
	min-width: 1024px;
	min-height: 768px;
}

.header_label {
	background: #fff;
	padding: 18px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	font-family: Open Sans,sans-serif;
}

.subheader_label {
	width: calc(100% - 20px);
	background-color: #fff;
	border: 1px solid #000;
	border-left: 0px;
	border-right: 0px;
	padding: 20px 10px;
	font-size: 24px;
	font-family: Open Sans,sans-serif;
	color: #555;
}

.header_secondary_container {
	background: #0862bd;
	width: 100%;
	height: 80px;
}

.product_label {
	padding: 42px 0px 0px 120px;
	font-size: 26px;
	font-weight: 300;
	font-family: Open Sans,sans-serif;
	color: #fff;
}

.inventory_item {
    border: 1px solid #777;
	background: #fff;
	color: #000;
	font-weight: 300;
	font-family: Open Sans,sans-serif;
	width: 100%;
	position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
}

.inventory_item_name {
	padding: 0px 0px 10px 0px;
	font-size: 18px;
	font-weight: 800;
}

.inventory_item_desc {
	font-size: 14px;
}

.inventory_item_price {
	color: #3cc200;
	font-size: 24px;
	font-weight: 800;
	padding: 0px 0px 10px 0px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.inventory_item_img {
	padding: 10px;
	width: 200px;
	height: 250px;
}

.inventory_details {
	border-top: 1px solid #777;
	background: #fff;
	width: 100%;
	position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
}

.inventory_details_name {
	padding: 10px;
	font-size: 48px;
	font-weight: 400;
	font-family: Open Sans,sans-serif;
	width: 60%;
	display: inline-block;
}

.inventory_details_desc_container {
	padding: 20px;
	vertical-align: top;
	display: inline-block;
	width: 54%;
	min-height: 498px;
	min-width: 554px;
	position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
}

.inventory_details_desc {
	font-size: 24px;
}

.inventory_details_back_button {
	margin: 10px auto;
	background: #61affe;
	font-size: 18px;
	font-weight: 800;
	width: 35%;
	max-width: 300px;
	padding: 10px;
	text-align: center;
	font-family: Open Sans,sans-serif;
	color: #fff;
	position: absolute;
	right: 10px;
}

.inventory_details_img {
	padding: 10px;
	width: 40%;
	min-width: 200px;
	min-height: 250px;
	max-width: 1200px;
	display: inline-block;
}

.inventory_details_price {
	color: #3cc200;
	font-size: 48px;
	font-weight: 800;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.inventory_item_label {
	padding: 10px;
	height: 250px;
	width: calc(99% - 270px);
	display: inline-block;
	vertical-align: top;
	position: relative;	
}

.inventory_container {
	padding: 32px 20px 20px 20px;
}

.shopping_cart_container {
	height: 32px;
	position: absolute;
	top: 25px;
	right: 44px;
}

.shopping_cart_link {
	color: #777;
}

.shopping_cart_badge {
	font-weight: 400;
	font-family: Open Sans, sans serif;
	top: -20px;
	right: -40px;
	transform: scale(1.1);
}

.add-to-cart-button {
	margin: 10px auto;
	background: #61affe;
	font-size: 18px;
	font-weight: 800;
	width: 35%;
	max-width: 150px;
	padding: 10px;
	text-align: center;
	font-family: Open Sans,sans-serif;
	color: #fff;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}

.remove-from-cart-button {
	margin: 10px auto;
	background: #fff;
	font-size: 18px;
	font-weight: 800;
	width: 35%;
	max-width: 150px;
	padding: 10px;
	text-align: center;
	font-family: Open Sans,sans-serif;
	color: #0862bd;
	position: absolute;
	right: 10px;
	bottom: 10px;
	border: 0px;
	cursor: pointer;
}

.remove-from-cart-button:hover {
    text-decoration: underline;
}

.cart_item_label {
	padding: 10px;
	height: 130px;
	width: calc(95% - 165px);
	display: inline-block;
	vertical-align: top;
	position: relative;	
}

.cart_item {
    border-top: 1px solid #777;
	background: #fff;
	color: #000;
	font-weight: 300;
	font-family: Open Sans,sans-serif;
	width: 100%;
	position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
}

.cart_quantity {
	height: 20px;
	display: inline-block;
	text-align: center;
	font-size: 24px;
	margin: 60px 50px;
	border: 1px solid #777;
	padding: 5px 30px 5px 10px;
}

.cart_contents_container {
	background-color: #fff;
}

.cart_quantity_label {
	display: inline-block;
	font-size: 18px;
	padding: 20px 60px;
	text-align: center;
	background-color: #fff;
	color: #555;
}

.cart_desc_label {
	padding: 20px 0px;
	width: calc(100% - 160px);
	display: inline-block;
	font-size: 18px;
	text-align: center;
	color: #555;
	background-color: #fff;
}

.menu-item {
	cursor: pointer;
}

/* ===============Burger button styling==================== */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 17px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #777;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #333;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  padding: 4px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}