body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #4A4A4A;
}

.peek {
	background: url('../img/peek.png') no-repeat;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 20px;
	bottom: -40px;
	z-index: 2;
}

.login-button {
	margin: 20px auto;
	background: #61affe;
	font-size: 18px;
	font-weight: 800;
	width: 100%;
	max-width: 400px;
	padding: 10px;
	text-align: center;
	font-family: Open Sans,sans-serif;
	color: #fff;
}

.login-input {
	margin: 20px 10px;
	font-size: 18px;
	width: 100%;
	max-width: 380px;
	border: 0px;
	border-bottom: 1px solid #777;
}

.error-button {
	border: 0px;
	background: #fff;
	color: #f00;
	cursor: pointer;
}

.login-box {
	background: #fff;
	margin: 10% auto;
	padding: 40px;
	max-width: 400px;
}

.login-info-box {
	font-size: 14px;
	margin: 10px auto;
	padding: 20px;
	max-width: 600px;
	background: #fff;
	border: 4px dashed #000;
}

.main-body {
	margin: 0px;
}

.header_label {
	background: #fff;
	padding: 18px;
	text-align: center;
	font-size: 1.7em;
	position: relative;
}

.header_secondary_container {
	background: #474c55;
	width: 100%;
	height: 80px;
	position: relative;
}

.subheader_label {
	background: #474c55;
	height: 70px;
}

.product_label,
.subheader_label {
	padding: 32px 0px 0px 110px;
	font-size: 2em;
	font-weight: 100;
	color: #fff;
}

.inventory_list,
.cart_contents_container,
.inventory_details_container {
	max-width: 1280px;
	margin: 0 auto;
}
.inventory_item_img {}

.inventory_item_name {
	font-size: 1.1em;
	font-weight: 500;
}

.inventory_item_desc {
	font-size: .85em;
	margin-top: 7px;
	color: #777777;
	padding-right: 20px;
}

.pricebar {
	position: absolute;
	bottom: 15px;
	right: 10px;
	width: 74%;
}

.inventory_item_price {
	color: #569210;
	font-size: 1.3em;
}

.add-to-cart-button,
.remove-from-cart-button {
	position: absolute;
	right: 10px;
	bottom: 0;
	text-align: center;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 1em;
	outline: none;
	border: none;
	border-radius: 2px;
}

.add-to-cart-button {
	background: #57c1e8;
	color: #fff;
	border: 2px solid #57c1e8;
}

.add-to-cart-button:hover {
	background: #1395F0;
	border: 2px solid #1395F0;
}

.remove-from-cart-button {
	background: #fff;
	color: #CE2A2B;
	border: 2px solid #CE2A2B;
}

.remove-from-cart-button:hover {
	background: #fafafa;
}

.inventory_container {
	padding: 0px;
}

.inventory_item {
    border: none;
	background: #fff;
	width: 100%;
	position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	margin-bottom: 12px;
	min-width: 480px;
}

.inventory_item_label {
	padding-top: 15px;
	min-height: 150px;
	width: 75%;
	float: right;
	vertical-align: top;
	position: relative;	
}

.inventory_item:nth-child(odd) {
	margin-right: 20px;
}

/* Adjust inventory item width for larger screens */
@media only screen and (min-width: 1200px) {
	.inventory_item {
		width: 45%;
		float: left;
	}
	.inventory_item_label {
		width: 73%;
	}
	.inventory_container {
		padding-top: 30px;
	}
	.pricebar {
		width: 71%;
	}
	
}

.inventory_item_label > a,
.cart_item_label > a {
	color: #4A4A4A;
	text-decoration: none;
}
.inventory_item_img {
	float: left;
	width: 17%;
	padding: 10px;
}

.inventory_details_container {
	margin-top: 50px;
}

.inventory_item_img img{
	width: 98%;
}

.inventory_details {
	border-top: 1px solid #777;
	background: #fff;
	width: 100%;
	position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
}

.inventory_details_name {
	font-size: 1.2em;
	margin-bottom: 10px;
	font-weight: 500;
}

.inventory_details_desc_container {
	padding: 20px;
	vertical-align: top;
	display: inline-block;
	width: 50%;
	position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
}

.inventory_details_desc {
	font-size: 1em;
	margin-bottom: 20px;
}

.inventory_details_back_button {
	margin: 10px auto;
	background: #57c1e8;
	font-size: 18px;
	font-weight: 500;
	padding: 10px;
	text-align: center;
	color: #fff;
	position: absolute;
	right: 10px;
	padding: 10px 20px;
	border-radius: 2px;
	border: none;
}

.inventory_details_price {
	color: #569210;
	font-size: 48px;
}

/*========= SHOPPING CART ==========*/
.shopping_cart_container {
	height: 32px;
	position: absolute;
	top: 25px;
	right: 44px;
}

.shopping_cart_link {
	color: #777;
}

.shopping_cart_link > svg {
	width: 30px !important;
}

.shopping_cart_badge {
	font-weight: 400;
	font-family: Open Sans, sans serif;
	top: -20px;
	right: -30px;
	transform: scale(1.1);
}

.cart_item_label {
	padding: 20px 10px 0;
	width: calc(95% - 165px);
	display: inline-block;
	vertical-align: top;
	position: relative;	
}

.cart_item {
    border-top: 1px solid #D8D8D8;
	background: #fff;
	width: 100%;
	position: relative; 
}

.item_pricebar {
	margin-top: 20px;
}

.cart_quantity {
	height: 20px;
	display: inline-block;
	text-align: center;
	font-size: 24px;
	margin: 60px 50px;
	border: 1px solid #777;
	padding: 5px 30px 5px 10px;
}

.cart_contents_container {
	background-color: #fff;
}

.cart_quantity_label {
	display: inline-block;
	font-size: 18px;
	padding: 20px 60px;
	text-align: center;
	background-color: #fff;
	color: #555;
}

.cart_desc_label {
	padding: 20px 0px;
	width: calc(100% - 160px);
	display: inline-block;
	font-size: 18px;
	text-align: center;
	color: #555;
	background-color: #fff;
}

.menu-item {
	cursor: pointer;
}

.cart_footer {
	position: relative; /* Need this here so the position: absolute on subelements anchors here rather than to the browser viewport */
	border-top: 1px solid #777;
	height: 80px;
}

.cart_cancel_link {
	margin: 10px auto;
	background: #fff;
	font-size: 1.2em;
	color: #4184F3;
	position: absolute;
	left: 10px;
	bottom: 10px;
	cursor: pointer;
	text-decoration: none;
}

.cart_checkout_link {
	margin: 10px auto;
	background: #4184F3;
	font-size: 1.2em;
	padding: 10px 20px;
	text-align: center;
	color: #fff;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	text-decoration: none;
}

.checkout_info {
	width: 30%;
	margin: 40px auto;
}

.checkout-input {
	margin: 20px 10px;
	font-size: 18px;
	width: 100%;
	max-width: 380px;
	border: 0px;
	border-bottom: 1px solid #777;
}

.summary_quantity {
	height: 20px;
	display: inline-block;
	text-align: center;
	font-size: 24px;
	margin: 60px 50px;
	padding: 5px 30px 5px 10px;
}

.summary_info_label {
	width: calc(100% - 20px);
	background-color: #fff;
	border-top: 1px solid #777;
	padding: 20px 10px 0px;
	font-size: 18px;
	font-family: Open Sans,sans-serif;
	color: #555;
}

.summary_value_label {
	font-weight: 800;
	font-size: 18px;
	color: #000;
	padding: 20px 10px;
}

.summary_subtotal_label {
	border-top: 1px solid #777;
	padding: 20px 10px 10px;
	font-size: 18px;
	font-family: Open Sans,sans-serif;
	color: #555;
}

.summary_tax_label {
	padding: 0px 10px;
	font-size: 18px;
	font-family: Open Sans,sans-serif;
	color: #555;
}

.summary_total_label {
	padding: 10px;
	font-size: 18px;
	font-family: Open Sans,sans-serif;
	color: #555;
	font-weight: 800;
	margin: 0px 0px 8px 0px;
	border-bottom: 1px solid #777;
}

.checkout_complete_container {
	text-align: center;
}

/*============ ITEM DETAILS ===============*/
.inventory_details_img {
	max-width: 400px;
}

/* ===============Burger button styling==================== */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 20px;
  height: 15px;
  left: 20px;
  top: 24px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #777;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.16);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #666;
  font-weight: 300;
  margin-bottom: 7px;
  text-decoration: none;
  padding: 4px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}